body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.section {
    flex: 1;
    padding: 1em;
    border-right-width: thin;
    border-right-style: solid;
    border-color: #cbcaca;
}

.section_title {
    font-size: 1em;
    display: block;
    font-weight: bold;
    /* border-bottom: 1px solid #e8e8e8; */
}

.section_subtitle {
    font-size: 0.8em;
    display: block;
    color: #888888;
    margin-top: 0.3em;
    font-style: italic;
}

.section_editable {
    margin-top: 1em;
    display: block;
    /* height: 30%; */
    padding: 0.2em;
    /* overflow-y: scroll; */
    color: #585858;
    font-size: 0.8em;
}

.section_editable:hover {
    border-color: #cbcaca;
    border-style: solid;
    border-width: thin;
}

.section_no_right_border {
    border-right-style: none;
}

#upper_section>#main {
    min-height: 60%;
}

#bottom_section>#main {
    min-height: 30%;
}

.multi_rows {
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column;
}

.border_top_thin {
    border-top-style: solid;
    border-top-width: thin;
}

.no_bold {
    font-weight: normal;
    font-size: 0.8em;
    border-bottom: none;
}

.no_top_border {
    border-top-style: none !important;
}

.no_top_margin {
    margin: 0 !important;
}

#main {
    margin: 10px 0 0 0;
    text-align: left;
    border-style: solid;
    border-width: thin;
    border-color: #cbcaca;
    display: inline-flex;
    width: 90%;
    background-color: white;
}

#copy_footer {
    padding-top: 10px;
    color: grey;
    font-size: 0.8em;
    display: inline-flex;
    width: 90%;
    background-color: white;
}

#copy_footer>div {
    flex: 1;
}

.left_nav {
    text-align: left;
}

.left_nav > span, .right_nav > span {
    margin: 0 10px 0 10px;
    cursor: pointer;
}

.left_nav>span:hover {
    color: rgb(59, 49, 197);
}

.right_nav {
    text-align: right;
}